@{
    Layout = "~/Views/Shared/_Layout_Blanck.cshtml";
    ViewBag.Title = "ThankYou";
}

<section id="contact" class="contact">
    <div class="container">

        <h2>Thanks for your Review!</h2>
        <p>Your review has been submitted successfully. Thank you for choosing to share your experience with us.</p>
        <a class="btn btn-default" href="@Url.Action("Index", "Home")">Home</a>
    </div>
</section>